/* Text Formatting with CSS */


/* 
this is HTML reset
this reset all the formatting in html document (text_formatting.html)
*/

* {
    margin: 0px;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}

body {
    padding: 40px;
    font-family: Georgia, Times, serif;
    color: #373737;
}

p {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    /*
A Note on Font Weight
=====================
The other values you can use are:
- bolder
- lighter

The following are equivalent to "normal"
- 100
- 200
- 300
- 400

The following are equivalent to "bold"
- 500
- 600
- 700

For heavier weights (not supported in all fonts)
- 800
- 900
*/
}

h1 {
    font-size: 3.6em;
    /* 3.6x the base font size (which is 18px in our case) */
}

h2 {
    font-size: 2.6em;
    /* 2x the base font size */
}

h3 {
    font-size: 1.6em;
    /*1.6x the base font size*/
    letter-spacing: -1px;
    /*can be "normal" or a numerecal value*/
    text-indent: 80px;
    /*Indents the first line of the paragraph, can be
    numerical value, or %*/
    line-height: 1.3;
    /*
        A Note on Line Height
        =====================
        Line height is how tall the lines of text are within an element.

        You can use a simple numeric value, like "3",
        which will make the line height 3x the height of the font-size

        You may also use a length, like "px" or "em"

        Percentage are also accepted
    */
}

span {
    text-decoration: line-through;
    /*
    A Note on Text Decoration
    =========================
    You may use the following values:
    - underline
    - overtime
    - line-through
    - none

    Underlines are usually best left for links only
    */
}

em {
    text-transform: capitalize;
    /*
    A Note on Text Transform
    =========================
    You may use the following values:
    - uppercase
    - lowercase
    - capitalize
    - none
    */
}

strong {
    text-transform: uppercase;
    font-weight: bold;
}


/* CSS Borders Lecture */

.border-box {
    background: #fc3;
    margin: 0 0 20px;
    padding: 40px;
    width: 320px;
    text-align: center;
}

#box1 {
    border: solid 1px black;
}

#box2 {
    border: dashed 1px black;
}

#box3 {
    border: dotted 1px black;
}

#box4 {
    border: double 3px black;
}

#box5 {
    border: solid 4px black;
}

#box6 {
    border: dashed 4px black;
}

#box7 {
    border: dotted 4px black;
}

#box8 {
    border: double 6px black;
}


/* Styling Links Lecture */

#styling-links {
    background: #333;
}

#styling-links #container {
    background: white;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    padding: 40px;
}


/* styles of links */

a {
    display: inline-block/* wrap content */
}


/* unvisited */

a:link {
    color: white;
    background: #333;
    padding: 10px;
    text-decoration: none;
}


/* visited */

a:visited {
    color: #fc3;
}


/* hovered / mouse-hover */

a:hover {
    background: #fc3;
    color: white;
    text-decoration: none;
}


/* active / mouse-down */

a:active {
    background: #777;
}

a#link-1:link {
    padding: 11px;
}


/* Styling Web Forms Lecture */

#container {
    width: 600px;
    margin: 0 auto;
}

form {
    margin-top: 40px;
}

fieldset {
    padding: 40px;
    border: solid 1px #aaa;
    background: steelblue;
}

fieldset legend {
    background: white;
    padding: 10px;
    border: solid 1px #aaa;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 0 0 20px;
    border: solid 1px #454545;
    border-top: none;
    display: block;
    width: 50%;
    font-size: 14px;
    color: #777;
    font-family: Monaco, monospace;
    text-transform: uppercase;
    resize: none;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    background: darkred;
    display: block;
    width: 50.3%;
    padding: 2%;
    color: white;
}

input[type="submit"] {
    background: none;
    background: url('img/button.jpg') repeat-x;
    height: 40px;
    border: solid 1px #777;
    padding: 0 40px;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #444;
}

input[type="submit"]:active {
    border-color: #111;
    outline-color: red;
}


/* CSS Floats */

#floats {
    background: #d43;
}

#floats #container {
    background: white;
    padding: 20px;
}

#me1 {
    float: left;
    margin: 0 20px 10px 0;
}

#main-column {
    display: block;
    width: 340px;
    float: left;
    margin-bottom: 20px;
    background: #00e676;
    padding: 20px
   
}

#side-column {
    display: block;
    width: 170px;
    float: right;
    margin-bottom: 20px;
    background: #455a64;
    color: white;
    padding: 20px;
}

#footer {
    clear: both;
    background: #333;
    color: white;
    padding: 20px 0 20px 0;
    text-align: center
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

